{% block title %}
    Sign In
{% endblock %}
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color: white">
            {{ form.hidden_tag() }}
            <h1 class="h1 mb-3 font-weight-normal">
                Sign In
            </h1>
            <br>
            
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
        <p>
            Not Registered? <a name="sign-up">Sign Up!</a> 
        </p>
    </div>
</body>
{% endblock %}